
<div class="jumbotron text-center">
  <h2>Por favor, cadastrar-se ou fazer login!</h2>
  <br>
  <%= link_to "Entrar", entrar_path, class: "btn btn-primary" %>
  <%= link_to "Cadastrar", new_user_path, class: "btn btn-primary" %>

</div>