<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Cadastrar</h1>
  </div>
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <%= form_for @user do |f| %>
      <%= render 'users/fields', f: f%>

      <%= f.submit 'Cadastrar', class: "btn btn-info" %>
    <% end %>
  </div>
</div>
